@layer reset, base, tokens, recipes, utilities;

@layer base {
  @keyframes fade-in {
    from {
      opacity: 0;
    }
  }

  @keyframes fade-out {
    to {
      opacity: 0;
    }
  }

  ::view-transition-old(root) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
  }

  ::view-transition-new(root) {
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in;
  }

  .main-header-text {
    view-transition-name: main-header-text;
  }

  .post-card-image {
    view-transition-name: post-card-image;
  }

  ::view-transition-group(post-card-image) {
    animation-duration: 300ms;
  }
}
